<% page_title t(".title", name: @service_account.name) %>
<div class="page-header"><h1><%= t(".title", name: @service_account.name) %></h1></div>
<%= render "form", service_account: @service_account %>
